* {
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
}

a {
    font-size: 40px;
    color: #fff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    border: 0;
}

h1 {
    margin-top: 0;
}

.header {
    background: peachpuff;
    width: 100%;
    margin: auto;
    padding: 30px 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    box-sizing: border-box;
}

.logoimg {
    width: 200px;
    height: 200px;
}

.logo {
    margin: 0;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.nav {
    margin: -5px 100px 20px -15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
}


.nav_itm {
    display: flex;
    background: red;
    border: 3px solid blue;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}


.main {
    background: gray;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    flex: auto;
    box-sizing: border-box;
}

.main h1{
    text-align: center;
}

.main .grid_img{
    text-align: center;
}

.grid {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid_itm {
    padding: 10px;
    margin-bottom: 30px;
    flex: 0 1 calc(25% - 30px * 3/4);
}

.grid_img {
    padding: 10px;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.grid_img img {
    width: 200px;
    height: 200px;
    align-items: center;
}

/* .sqr {
    width: 200px;
    height: 200px;
} */

.footer {
    width: 100%;
    background: #000;
    color: #fff;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.footernav {
    display: flex;
    justify-content: space-around;
}

.footernav_itm {
    display: flex;
    background: red;
    border: 3px solid blue;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

@media screen and (max-width: 955px) {
    
    
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        margin: auto;
    }

    .nav_itm {
        background: blue;
        width: 100%;
        justify-content: space-around;
    }


    .grid_img {
        margin: auto;
    }

    .grid_itm {
        flex: 0 1 calc(70% - 30px / 2);
        margin: auto;
    }
}