.container  {
    width: 960px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    color: #FFF;
}

header {
    background-color: gray;
    height: 400px;
}

main {
    background-color: coral;
    height: 500px;
}

footer {
    background-color: blue;
    height: 900px;
}

div {
    box-sizing: border-box;
}

.logo {
    margin-top: 40px;
    float: left;
}

nav {
    float: left;
    margin-top: 120px;
    margin-left: 140px;
}

.menu  {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 40px;
}

.menu li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.btn {
    border: 10px solid blue;
    padding: 10px;
}

.menu li a:hover {
    color: green;
}

.product_list {
    margin-left: 40px;
}

.product_item {
    width: 280px;
    float: left;
    text-align: center;
}

.product_item:last-child {
    float: right;
}

.product_item:nth-child(2) {
    margin-left: 38px;
}

.product_item img {
    width: 300px;
    height: 300px;
}