body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    padding-bottom: 10px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    margin-top: 40px;
}

nav {
    float: right;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
    display: block;
    margin-right: 30px;
    margin-top: 115px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.btn {
    border: 3px solid green;
    padding: 5px;
    background: green;
}

.menu a:hover {
    color: yellow;
}

main {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 850px;
    background-color: gray;
}

.catalog_title {
        margin-left: 20px;
        text-align: center;
        text-transform: uppercase;
}

.product_list {
    margin-left: 28px;
    padding-bottom: 150px;
}

.product_item {
    width: 270px;
    float: left;
    text-align: center;
}

.product_item:last-child {
    float: right;
}

.product_item:nth-child(2) {
    margin-left: 75px;
}

.product_item img{
    width: 200px;
    height: 200px;
}

.product_item img:hover {
    border: solid 5px green ;
}

footer {
    margin: 0;
    padding-bottom: 80px;
    background-color: blue;
}

.footer_nav {
    margin-left: 30px;
}

.footer_nav li{
    float: left;
    display: block;
    margin-top: 25px;
    margin-left: 120px;
}

.footer_nav a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.footer_nav a:hover{
    color: yellow;
}
